

<div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                   <h3> {{title}}</h3></div>
                
            </div>
            <div class="col-auto">
                <i class="fa fa-address-card fa-4x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>