<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a routerLink="user-list" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Student List</a>
</div>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div routerLink="user-list" class="col-xl-4 col-md-6 mb-4">
        <app-card title="Student List" count="200"></app-card>
    </div>
    <div [routerLink]="['/query-attendance','Get Attendance Details']" class="col-xl-4 col-md-6 mb-4">
        <app-card title="Get Attendance Details" count="400000"></app-card>
    </div>
    <div [routerLink]="['/query-attendance','Mark Your Attendance']" class="col-xl-4 col-md-6 mb-4">
        <app-card title="Mark your Attendance" count="3"></app-card>
    </div>
</div>


<div class="row">
    <router-outlet></router-outlet>
</div>